.user-img img {
    width: 250px;
    height: 200px;
}
.userinfo{
    margin: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.btn-add {
    background-color: bisque;
    padding: 5px 19px;
    cursor: pointer;
    border: 1px solid bisque;
}